# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build outputs
DerivedData/
build/
*.ipa

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
